.emp-form .floatleft {
	float: left;
}
.emp-form .floatright {
	float: right;
}
.emp-form .clear {
	clear: both;
}

.emp-form .red,
.emp-form .red a,
.emp-form .error {
	color: #ff0000 !important;
}

/*
.container {
	margin: 10px auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 600px;
	background-color: white;
	border: 2px solid #D1D1D1;
	border-radius: 15px;
	overflow: hidden;
}
*/

.emp-form .form-group {
	padding-top: 15px;
	padding-bottom: 15px;
}

.emp-form .control-label {
	padding-top: 7px;
	text-align: right;
}
.emp-form .control-label .emp-form .asterisk {
	color: #B94A48;
}

.emp-form .form-submit-success, .emp-form .form-submit-danger {
	display: none;
}

.emp-form .emp-form select.input-sm {
	height: 30px !important;
}